h4, p{
     display: inline;
}
span {
    display: block;
}
.div-inline{
    display: inline-block;
    width: 500px;
    height: 300px;
    margin: 200px;
    background-color: lightgreen;
    img{
      float: right;
    }
.flex-container{
      display: flex;
      flex-direction: row;
      justify-content: left;
      align-item: left;
      height: 100uh;
      background-color: lightblue;
}
.flex-item{
     background-color: lightcoral;
     padding: 20px;
     margin: 10px;
     width: 300px;
     border: 1px solid black;
  }
 .grid-container{
      display: grid;
      grid-template-columns: 200px 1fr;
      grid-template-rows: 100px 1fr 100;
      grid-template-areas:
           "header header"  
           "nav main"
           "footer footer";
       height: 100vh;
header{grid-area: header; background: lightblue;}
nav{grid-area: nav; background: lightgreen;}
main{grid-area: main;background: lightcoral;}
footer{ grid-area: footer;background: green;}
.card{
  position: relative;
  width:350px;
  padding: 25px;
  border: 1px solid black;
  border-radius: 12px;
  background-color: bisque;
}
.badge{
  position: absolute;
    top: -10px;
    right: -10px;
   padding: 4px 8px;
   font-size:12px;
   background-color: crimson;
     color: white;
     border-radius: 998px;
}
.fluid-container{
  width: 100%;
  margin: 80px auto;
  height: 100vh;
  background-color: bisque;
  }
  @media(max-width: 550px) {
       .fluid-container{
         border: 1px solid black;
         height: 30vh;
         background-color: lightcoral;
         font-size: 13px;
         font-family: 'Irebuchet ps', 'lucida sans unicode', 'lucida Grande', 'lucida sans', Arial, sans-serif;
       }
         .fluid-content{
           width: 100%;
           margin: 90px auto;
           height: 100vh;
           background-color: bisque;
         }
